* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Flexo;
  src: url("/assets/fonts/flexo-bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: Flexo;
  src: url("/assets/fonts/flexo-demi.woff");
  font-weight: 600;
}

@font-face {
  font-family: Flexo;
  src: url("/assets/fonts/flexo-medium.woff");
  font-weight: 500;
}

.main {
  background-image: url("/assets/container_bg.png");
  padding: 4rem 0;
  min-height: 100vh;
}

/* Pokes */

.pokes {
  background-color: #ffffff;
  max-width: 1048px;
  margin: 0 auto;
  display: grid;
  padding: 2rem 24px;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 50px calc(100px / 3);
}

.pokes__article {
  display: flex;
  flex-direction: column;
}

.pokes__img-container {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  flex-grow: 1;
}

.pokes__img {
  width: 100%;
  max-height: 100%;
  margin-bottom: 6px;
  object-fit: contain;
}

.pokes__tag {
  font-family: "Flexo", monospace;
  font-size: 0.8rem;
  color: #919191;
  margin-bottom: 12px;
  font-weight: 700;
}

.pokes__name {
  font-family: "Flexo", monospace;
  font-weight: 600;
  margin-bottom: 6px;
}

.pokes__types {
  display: flex;
  gap: 3px;
}

.pokes__type {
  font-family: "Flexo", monospace;
  font-weight: 500;
  font-size: 11px;
  width: 74px;
  border-radius: 4px;
  line-height: 18px;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .main {
    padding: 4rem 2rem;
  }
}

/* Pokes */

/* Auth */

.auth {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  max-width: 768px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.auth__img-container {
  flex: 1 0;
  padding: 2rem 4rem 0;
}

.auth__img {
  max-width: 100%;
  display: block;
}

.auth__form-container {
  flex: 1 0;
}

/* Auth */
